body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0d0d0d;
  color: #f2f2f2;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer {
  padding-top: 25px;
  display: block;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  height: 110px;
  background-color: #131212;
  text-align: center;
}

.footer img {
  height: 80px;
}